---
import { SITE_TITLE } from "../consts";
import { SITE_DESCRIPTION } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <h2 style="font-size: 30px;" title={SITE_DESCRIPTION}><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/others">Others</HeaderLink>
    </div>
    <!-- <div class="social-links"> -->
      <!-- The social links can be added here later -->
    <!-- </div> -->
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);

  }
  h2 {
    margin: 0 auto 0 150px;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .internal-links {
    margin: 0 30rem 0 0;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
